.content-calendar {
  width: 100%;
  background-color: #3b3c45;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
  font-family: "Roboto";
  flex: 50%;
}
.content-calendar h1 {
  color: white;
  padding: 1rem;
  font-size: 2rem;
}
.calendar {
  width: 280px;
  height: auto;
  background: #fff;
  box-sizing: border-box;
}
.date {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  grid-gap: 10px;
  box-sizing: border-box;
}
.date div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  color: #262626;
}
.day {
  font-weight: 700;
}
.day:first-child,
.number:nth-child(7n + 1) {
  color: #ff685f;
  font-weight: 700;
}

.number.active,
.number:hover {
  background: crimson;
  color: white;
  font-weight: 700;
  cursor: pointer;
  border-radius: 50%;
}
.image {
  width: 100%;
  height: 200px;
  background: url("/images/beach.png");
  background-size: cover;
  padding: 20px;
  box-sizing: border-box;
  text-align: right;
}
.image h2,
.image h3 {
  margin: 0;
  padding: 0;
  color: black;
}
.image h3 {
  font-weight: 500;
}
